



<div class="row center height-250px chalk">
  <div class="col-sm-2 col-md-4"></div>
  <div class="col-sm-8 col-md-4  text-center">
    <h1>500</h1>
    <h3><%= data %></h3>
  </div>
  <div class="col-sm-2 col-md-4"></div>
</div>
