



<div class="row">
	<div class="col-sm-2 col-md-4"></div>
	<div class="col-sm-8 col-md-4">
		<form action="/authorize" method="POST">
      <input type='hidden' name='_csrf' value='<%= _csrf %>'>
			<input type='hidden' name='clientId' value='<%= req.client.id %>'>
			<input type='hidden' name='responseType' value='<%= req.param('responseType') %>'>
			<div class="form-group">
		    <h3><label for="email" class="chalk">Email address</label></h3>
		    <input type="email" name="email" class="form-control" id="email">
		  </div>
		  <div class="form-group">
		    <h3><label for="password" class="chalk">Password</label></h3>
		    <input type="password" name="password" class="form-control" id="password">
		  </div>
		  <div class="row">
				<div class="col-sm-12 col-md-12">
				  <button type="submit" class="btn btn-default btn-block btn-glass chalk text-big">Login</button>
				</div>
		  </div>
		</form>
	</div>
	<div class="col-sm-2 col-md-4"></div>
</div>
